{% extends 'layout.html' %}


{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px" class="clearfix">
            <a class="btn btn-success" href="/Agricureture/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                新建农资成本
            </a>
             <a class="btn btn-success" href="/upload/agriculturecost/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                农资成本批量导入
            </a>

            <div style="float: right;width: 300px;">
                <form method="get">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search for..."
                               value="{{ search_data }}">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                      </span>
                    </div>
                </form>
            </div>

        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                工价列表
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>日期</th>
                    <th>工种</th>
                    <th>数量</th>
                    <th>农资种类</th>
                    <th>名称</th>
                    <th>单价</th>
                    <th>金额</th>
                    <th>批次</th>
                    <th>地块</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <th>{{ obj.ID }}</th>
                        <th>{{ obj.日期 }}</th>
                        <td>{{ obj.工种 }}</td>
                        <td>{{ obj.数量 }}</td>
                        <td>{{ obj.农资种类 }}</td>
                        <td>{{ obj.名称 }}</td>
                        <td>{{ obj.单价 }}</td>
                        <td>{{ obj.金额 }}</td>
                        <td>{{ obj.批次 }}</td>
                        <td>{{ obj.地块 }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/Agricureture/{{ obj.ID }}/edit/">编辑</a>
                            <a class="btn btn-danger btn-xs" href="/Agricureture/{{ obj.ID }}/delete/">删除</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="clearfix">
            <ul class="pagination">
                {{ page_string }}
            </ul>

        </div>

    </div>


{% endblock %}
