{% extends 'layout.html' %}

{% block content %}
    <div class="container-fluid">
        <div style="margin-bottom: 10px" class="clearfix">
            <a class="btn btn-success" href="/depreciation_allocation/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                新建折旧摊销
            </a>

            <div style="float: right;width: 300px;">
                <form method="get">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search for..."
                               value="{{ search_data }}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                折旧摊销列表
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>地租</th>
                    <th>大棚管架</th>
                    <th>大棚棚膜</th>
                    <th>大棚喷灌</th>
                    <th>其他资产</th>
                    <th>材料</th>
                    <th>基地经理</th>
                    <th>月份</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <td>{{ obj.id }}</td>
                        <td>{{ obj.地租 }}</td>
                        <td>{{ obj.大棚管架 }}</td>
                        <td>{{ obj.大棚棚膜 }}</td>
                        <td>{{ obj.大棚喷灌 }}</td>
                        <td>{{ obj.其他资产 }}</td>
                        <td>{{ obj.材料 }}</td>
                        <td>{{ obj.基地经理 }}</td>
                        <td>{{ obj.月份|date:"Y年m月" }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/depreciation_allocation/{{ obj.id }}/edit/">编辑</a>
                            <a class="btn btn-danger btn-xs" href="/depreciation_allocation/{{ obj.id }}/delete/">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="clearfix">
            <ul class="pagination">
                {{ page_string }}
            </ul>
        </div>
    </div>
{% endblock %}