{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px" class="clearfix">
            <a class="btn btn-success" href="{% url 'outbound_add' %}">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                添加出库记录
            </a>
            <div style="float: right;width: 300px;">
                <form method="get">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="搜索公司" value="{{ search_data }}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                出库记录列表
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>日期</th>
                            <th>车牌</th>
                            <th>公司</th>
                            <th>市场</th>
                            <th>一级分类</th>
                            <th>二级分类</th>
                            <th>规格</th>
                            <th>单位</th>
                            <th>数量</th>
                            <th>重量</th>
                            <th>批次</th>
                            <th>地块</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in queryset %}
                            <tr>
                                <td>{{ obj.id }}</td>
                                <td>{{ obj.日期 }}</td>
                                <td>{{ obj.车牌 }}</td>
                                <td>{{ obj.公司 }}</td>
                                <td>{{ obj.市场 }}</td>
                                <td>{{ obj.一级分类 }}</td>
                                <td>{{ obj.二级分类 }}</td>
                                <td>{{ obj.规格 }}</td>
                                <td>{{ obj.单位 }}</td>
                                <td>{{ obj.数量 }}</td>
                                <td>{{ obj.重量 }}</td>
                                <td>{{ obj.批次 }}</td>
                                <td>{{ obj.地块 }}</td>
                                <td>{{ obj.备注 }}</td>
                                <td>
                                    <a class="btn btn-primary btn-xs" href="{% url 'outbound_edit' obj.id %}">编辑</a>
                                    <a class="btn btn-danger btn-xs" href="{% url 'outbound_delete' obj.id %}">删除</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="clearfix">
            <ul class="pagination">
                {{ page_string }}
            </ul>
        </div>
    </div>
    <style>
        .table-responsive {
            width: 100%;
            overflow-x: auto;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
            white-space: nowrap;
        }
        th {
            background-color: #f2f2f2;
            line-height: 1.2;
        }
    </style>
{% endblock %}