{% extends 'layout.html' %}


{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px" class="clearfix">
            <a class="btn btn-success" href="/Plant_batch/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                新建
            </a>
             <a class="btn btn-success" href="/upload/Plant_batch/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                新建导入
            </a>

            <div style="float: right;width: 300px;">
                <form method="get">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search for..."
                               value="{{ search_data }}">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                      </span>
                    </div>
                </form>
            </div>

        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                工价列表
            </div>

            <!-- Table -->
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>批次ID</th>
                    <th>一级分类</th>
                    <th>二级分类</th>
                    <th>地块</th>
                    <th>面积</th>
                    <th>基地经理</th>
                    <th>移栽日期</th>
                    <th>移栽板量</th>
                    <th>移栽板量</th>
                    <th>点籽日期</th>
                    <th>用籽量</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <th>{{ obj.ID }}</th>
                        <th>{{ obj.批次ID }}</th>
                        <th>{{ obj.一级分类 }}</th>
                        <th>{{ obj.二级分类 }}</th>
                        <th>{{ obj.地块 }}</th>
                        <td>{{ obj.面积 }}</td>
                        <td>{{ obj.基地经理 }}</td>
                        <td>{{ obj.移栽日期 }}</td>
                        <td>{{ obj.移栽板量 }}</td>
                        <td>{{ obj.移栽数量 }}</td>
                        <td>{{ obj.点籽日期 }}</td>
                        <td>{{ obj.用籽量 }}</td>
                        <td>{{ obj.备注 }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/Plant_batch/{{ obj.ID }}/edit/">编辑</a>
                            <a class="btn btn-danger btn-xs" href="/Plant_batch/{{ obj.ID }}/delete/">删除</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="clearfix">
            <ul class="pagination">
                {{ page_string }}
            </ul>

        </div>

    </div>


{% endblock %}
