{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h2>批次日历视图</h2>
    <div id="calendar"></div>
</div>

<!-- 本地加载的 CSS 文件 -->
<link href="{% static 'fullcalendar/main.min.css' %}" rel="stylesheet" />

<!-- 本地加载的 JS 文件 -->
<script src="{% static 'fullcalendar/main.min.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: {{ events|safe }},
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            locale: 'zh-cn'
        });
        calendar.render();
    });
</script>
{% endblock %}
