{% extends 'layout.html' %}

{% block content %}
    <div class="container-fluid">
        <div style="margin-bottom: 10px" class="clearfix">
            <a class="btn btn-success" href="/WorkHour/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                新建计划
            </a>

            <div style="float: right;width: 300px;">
                <form method="get">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search for..."
                               value="{{ search_data }}">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                      </span>
                    </div>
                </form>
            </div>

        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                计划列表
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>批次ID</th>
                    <th>移栽日期</th>
                    <th>品种</th>
                    <th>品类</th>
                    <th>面积</th>
                    <th>基地ID</th>
                    <th>移栽数量</th>
                    <th>移栽板量</th>
                    <th>点子数量</th>
                    <th>地块</th>
                    <th>备注</th>
                    <th>生长周期</th>
                    <th>采收期</th>
                    <th>采收初期</th>
                    <th>采收末期</th>
                    <th>周期批次</th>
                    <th>总周期天数</th>
                    <th>销毁面积</th>
                    <th>销毁备注</th>
                    <th>栽种方式</th>
                    <th>正常产量</th>
                    <th>正常亩产</th>
                    <th>总产量</th>
                    <th>总亩产</th>
                    <th>下批前一天时间</th>
                    <th>周期</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>

                        <td>{{ obj.ID }}</td>
                        <td>{{ obj.批次ID }}</td>
                        <td>{{ obj.移栽日期 }}</td>
                        <td>{{ obj.品种 }}</td>
                        <td>{{ obj.品类 }}</td>
                        <td>{{ obj.面积 }}</td>
                        <td>{{ obj.基地ID }}</td>
                        <td>{{ obj.移栽数量 }}</td>
                        <td>{{ obj.移栽板量 }}</td>
                        <td>{{ obj.点子数量 }}</td>
                        <td>{{ obj.地块 }}</td>
                        <td>{{ obj.备注 }}</td>
                        <td>{{ obj.生长周期 }}</td>
                        <td>{{ obj.采收期 }}</td>
                        <td>{{ obj.采收初期 }}</td>
                        <td>{{ obj.采收末期 }}</td>
                        <td>{{ obj.周期批次 }}</td>
                        <td>{{ obj.总周期天数 }}</td>
                        <td>{{ obj.销毁面积 }}</td>
                        <td>{{ obj.销毁备注 }}</td>
                        <td>{{ obj.栽种方式 }}</td>
                        <td>{{ obj.正常产量 }}</td>
                        <td>{{ obj.正常亩产 }}</td>
                        <td>{{ obj.总产量 }}</td>
                        <td>{{ obj.总亩产 }}</td>
                        <td>{{ obj.下批前一天时间 }}</td>
                        <td>{{ obj.周期 }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/pretty/{{ obj.id }}/edit/">编辑</a>
                            <a class="btn btn-danger btn-xs" href="/pretty/{{ obj.id }}/delete/">删除</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="clearfix">
            <ul class="pagination">
                {{ page_string }}
            </ul>

        </div>

    </div>
{% endblock %}
