{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">新建</h3>
            </div>
            <div class="panel-body">
                <form method="post" id="dynamic_form" action="">
                    {% csrf_token %}
                    {{ fixed_form.as_p }}
                    {{ formset.management_form }}
                    <div id="formset_container" class="row">
                        {% for form in formset %}
                            <div class="col-md-3 formset_item">
                                {{ form.as_p }}
                                <button type="button" class="btn btn-danger remove-form">删除</button>
                            </div>
                        {% endfor %}
                    </div>

                    <hr> <!-- 添加一条横线 -->
                    <button type="button" id="add_more" class="btn btn-primary">添加更多</button>

                    <button type="button" id="test" class="btn btn-success">保存提交</button>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {

            // 计算工资函数
            function calculateSalary(prefix) {
                var quantity = $('#' + prefix + '-数量').val();
                var wage = $('#' + prefix + '-工价 option:selected').text();

                // 检查输入是否为数字
                if ($.isNumeric(quantity) && $.isNumeric(wage)) {
                    var salary = parseFloat(quantity) * parseFloat(wage);
                    //alert(salary)
                    salary=salary.toFixed(2);
                    // 将结果赋值给工资输入框
                    $('#' + prefix + '-合计工资').val(salary);
                } else {
                    // 如果输入不是数字，则清空工资输入框
                    $('#' + prefix + '-合计工资').val('');
                }
            }


            function bindEvents(prefix) {
                $('#' + prefix + '-一级分类').change(function () {
                    var selectedValue = $(this).find("option:selected").text()
                    //alert(selectedValue);
                    $.ajax({
                        url: '/get_second_level_categories/',
                        type: 'GET',
                        data: {
                            'id': selectedValue
                        },
                        success: function (data) {
                            $('#' + prefix + '-二级分类').empty();
                            $('#' + prefix + '-二级分类').empty().append($('<option></option>').attr('value', '').text('请选择'));
                            $.each(data, function (key, value) {
                                $('#' + prefix + '-二级分类').append($('<option></option>').attr('value', key).text(value));
                            });
                        },
                        error: function (xhr, status, error) {
                            console.log("Ajax请求失败:", error);
                        }
                    });
                });

                $('#' + prefix + '-二级分类').change(function () {
                    var selectedValue_one = $('#' + prefix + '-一级分类 option:selected').text();
                    var selectedValue_tow = $('#' + prefix + '-二级分类 option:selected').text();

                    $.ajax({
                        url: '/get_productionwate/',
                        type: 'GET',
                        data: {
                            'one': selectedValue_one,
                            'tow': selectedValue_tow
                        },
                        success: function (data) {
                            $('#' + prefix + '-工种').empty();
                            $('#' + prefix + '-工种').empty().append($('<option></option>').attr('value', '').text('请选择'));
                            $.each(data, function (key, value) {
                                $('#' + prefix + '-工种').append($('<option></option>').attr('value', key).text(value));
                            });
                        },
                        error: function (xhr, status, error) {
                            console.log("Ajax请求失败:", error);
                        }
                    });
                });

                $('#' + prefix + '-工种').change(function () {
                    var selectedValue_one = $('#' + prefix + '-一级分类 option:selected').text();
                    var selectedValue_tow = $('#' + prefix + '-二级分类 option:selected').text();
                    var selectedValue_three = $('#' + prefix + '-工种 option:selected').text();
                    $.ajax({
                        url: '/get_productionwate_price/',
                        type: 'GET',
                        data: {
                            'one': selectedValue_one,
                            'tow': selectedValue_tow,
                            'three': selectedValue_three
                        },
                        success: function (data) {
                            $('#' + prefix + '-工价').empty();
                            $.each(data, function (key, value) {
                                $('#' + prefix + '-工价').append($('<option></option>').attr('value', key).text(value));
                            });
                        },
                        error: function (xhr, status, error) {
                            console.log("Ajax请求失败:", error);
                        }
                    });
                });

                $('#' + prefix + '-数量').change(function () {
                    calculateSalary(prefix);
                    var pc = $('#' + prefix + '-批次').val();
                    //alert(pc);

                    $.ajax({
                        url: '/get_Plant_batch_dk/',
                        type: 'GET',
                        data: {
                            'one': pc,
                        },
                        success: function (data) {
                            $('#' + prefix + '-地块').empty();
                            $.each(data, function (key, value) {
                                $('#' + prefix + '-地块').append($('<option></option>').attr('value', key).text(value));
                            });
                        },
                        error: function (xhr, status, error) {
                            console.log("Ajax请求失败:", error);
                        }
                    });
                });  //获得地块

                $('#' + prefix + '-批次').autocomplete({
                    source: function (request, response) {
                        var baseId = $('#' + prefix + '-基地').val();  // 动态获取 base_id 值
                        // alert(baseId);
                        var url = "{% url 'autocomplete'  %}";

                        $.ajax({
                            url: url,
                            dataType: "json",
                            data: {
                                term: request.term,
                                baseId: $('#' + prefix + '-基地').val(),
                                // extraParam2: anotherJavaScriptVariable
                            },
                            success: function (data) {
                                //alert(data);
                                response(data);
                            },

                        });
                    },
                    minLength: 2
                });

                $('#' + prefix + '-基地').autocomplete({
                    source: "{% url 'autocomplete_baseinfo' %}",
                    minLength: 1
                });

            }

            // 初始绑定事件
            bindEvents('id_form-0');

            // 添加更多表单项的点击事件
            $('#add_more').click(function () {
                var newForm = $('.formset_item:first').clone(false); // 克隆第一个表单项以保留事件绑定
                var form_idx = $('#formset_container .formset_item').length;

                newForm.find(':input').each(function () {
                    var name = $(this).attr('name');
                    if (name) {
                        var newName = name.replace(/\d+/, form_idx); // 替换表单项名称中的数字
                        $(this).attr('name', newName);
                    }

                    var id = $(this).attr('id');
                    if (id) {
                        var newId = id.replace(/\d+/, form_idx); // 替换表单项ID中的数字
                        $(this).attr('id', newId);
                    }

                    $(this).val('').removeAttr('checked').removeAttr('selected');
                });

                $('#formset_container').append(newForm); // 将新表单项添加到页面

                // 为新表单项绑定事件
                bindEvents('id_form-' + form_idx);

                form_idx++; // 更新索引
                 updateTotalForms();

            });

            $(document).on('click', '.remove-form', function () {
                $(this).closest('.formset_item').remove();
                updateTotalForms();
            });

            // 测试提交的点击事件  
            $('#test').click(function () {
                var form = $('#dynamic_form');
                var formData = form.serializeArray();
                console.log(formData); // 在控制台打印表单数据

                $.ajax({
                    url: '', // 使用表单的action属性作为URL
                    type: 'post',
                    data: formData,
                    success: function (response) {
                        window.location.href = response.redirect;  // 使用指定的 URL 进行重定向
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });


            });

            // 更新表单项数量  
            function updateTotalForms() {
                var totalForms = $('#formset_container .formset_item').length;
                $('#id_form-TOTAL_FORMS').val(totalForms);
            }
        });
    </script>
{% endblock %}