{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">新建</h3>
            </div>
            <div class="panel-body">
                <form method="post" id="dynamic_form" action="">
                    {% csrf_token %}
                    {{ fixed_form.as_p }}
                    {{ formset.management_form }}
                    <div id="formset_container" class="row">
                        {% for form in formset %}
                            <div class="col-md-3 formset_item">
                                {{ form.as_p }}
                                <button type="button" class="btn btn-danger remove-form">删除</button>
                            </div>
                        {% endfor %}
                    </div>

                    <hr> <!-- 添加一条横线 -->
                    <button type="button" id="add_more" class="btn btn-primary">添加更多</button>

                    <button type="button" id="test" class="btn btn-success">保存提交</button>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            // 工人姓名补全
            $('#id_工人').autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "{% url 'employee_autocomplete' %}",
                        dataType: "json",
                        data: {
                            term: request.term
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.name + " (" + item.birthdate + ")",
                                    value: item.name  // 仅返回姓名
                                };
                            }));
                        }
                    });
                },
                minLength: 1
            });


            // 计算工资函数
            function calculateSalary(prefix) {
                var quantity = $('#' + prefix + '-数量').val();
                var wage = $('#' + prefix + '-工价').val();  // 直接获取工价输入框的值

                // 检查输入是否为数字
                if ($.isNumeric(quantity) && $.isNumeric(wage)) {
                    var salary = parseFloat(quantity) * parseFloat(wage);
                    salary = salary.toFixed(2);  // 格式化小数位
                    // 将结果赋值给工资输入框
                    $('#' + prefix + '-合计工资').val(salary);
                } else {
                    // 如果输入不是数字，则清空工资输入框
                    $('#' + prefix + '-合计工资').val('');
                }
            }

            function bindEvents(prefix) {

                // 基地字段的动态填充
                $('#' + prefix + '-基地').click(function () {
                    $.ajax({
                        url: "{% url 'get_base_options' %}",  // 使用Django模板标签来获取URL
                        type: 'GET',
                        success: function (data) {
                            // 清空并重新填充基地的下拉选项
                            $('#' + prefix + '-基地').empty().append($('<option></option>').attr('value', '').text('请选择'));
                            $.each(data, function (key, value) {
                                $('#' + prefix + '-基地').append($('<option></option>').attr('value', key).text(value));
                            });
                        },
                        error: function (xhr, status, error) {
                            console.log("Ajax请求失败:", error);
                        }
                    });
                });

                // 批次字段的补全和一级分类自动填充
                $('#' + prefix + '-批次').blur(function () {
                    var batchValue = $(this).val();

                    if (batchValue.includes('-')) {
                        var secondCategory = batchValue.split('-').pop();
                        $('#' + prefix + '-二级分类').val(secondCategory);  // 自动填充二级分类

                        // 查询一级工种
                        $.ajax({
                            url: '/get_primary_work_types/',
                            type: 'GET',
                            success: function (data) {
                                $('#' + prefix + '-一级工种').empty().append($('<option>').text('请选择'));
                                $.each(data, function (index, item) {
                                    $('#' + prefix + '-一级工种').append($('<option>').attr('value', item.id).text(item.name));
                                });
                            },
                            error: function () {
                                alert('无法获取一级工种，请检查输入。');
                            }
                        });
                    } else {
                        alert('批次号错误，请重新输入');
                    }
                });

                $('#' + prefix + '-二级分类').change(function () {
                    var selectedValue_one = $('#' + prefix + '-一级分类 option:selected').text();
                    var selectedValue_tow = $('#' + prefix + '-二级分类 option:selected').text();

                    $.ajax({
                        url: '/get_productionwate/',
                        type: 'GET',
                        data: {
                            'one': selectedValue_one,
                            'tow': selectedValue_tow
                        },
                        success: function (data) {
                            $('#' + prefix + '-工种').empty();
                            $('#' + prefix + '-工种').empty().append($('<option></option>').attr('value', '').text('请选择'));
                            $.each(data, function (key, value) {
                                $('#' + prefix + '-工种').append($('<option></option>').attr('value', key).text(value));
                            });
                        },
                        error: function (xhr, status, error) {
                            console.log("Ajax请求失败:", error);
                        }
                    });
                });
                // JavaScript
                // 当选择一级工种时，填充二级工种
                $('#' + prefix + '-一级工种').change(function () {
                    var primaryWorkTypeName = $(this).find("option:selected").text();
                    var secondarySelect = $('#' + prefix + '-二级工种');  // 获取当前的二级工种下拉框

                    if (primaryWorkTypeName) {
                        $.ajax({
                            url: "{% url 'get_secondary_work_types' %}",
                            data: {
                                primary_work_type_name: primaryWorkTypeName  // 传递一级工种名称
                            },
                            success: function (data) {
                                // 清空二级工种下拉框并填充新的选项
                                secondarySelect.empty().append($('<option></option>').attr('value', '').text('请选择'));
                                $.each(data, function (index, item) {
                                    secondarySelect.append($('<option></option>').attr('value', item.id).text(item.job_name));
                                });
                            },
                            error: function (xhr, status, error) {
                                console.log("Ajax请求失败:", error);
                            }
                        });
                    } else {
                        secondarySelect.empty().append($('<option></option>').attr('value', '').text('请选择'));
                    }
                });
                // 获取工价
                $('#' + prefix + '-二级工种').change(function () {
                    var selectedValue_one = $('#' + prefix + '-二级分类').val();
                    var selectedValue_tow = $('#' + prefix + '-一级工种 option:selected').text();
                    var selectedValue_three = $('#' + prefix + '-二级工种 option:selected').text();
                    $.ajax({
                        url: '/get_productionwate_price/',
                        type: 'GET',
                        data: {
                            'one': selectedValue_one,
                            'tow': selectedValue_tow,
                            'three': selectedValue_three
                        },
                        success: function (data) {
                            // 打印从服务器返回的数据，方便调试
                            console.log("AJAX response data:", data); // 调试信息
                            var price = parseFloat(Object.values(data)[0]);

                            if (price) {
                                $('#' + prefix + '-工价').val(price); // 填充工价
                            } else {
                                console.log("未找到对应的工价");
                            }
                        },
                        error: function (xhr, status, error) {
                            console.log("Ajax请求失败:", error);
                        }
                    });
                });

                $('#' + prefix + '-数量').change(function () {
                    calculateSalary(prefix);
                    var pc = $('#' + prefix + '-批次').val();
                    //alert(pc);

                    $.ajax({
                        url: '/get_Plant_batch_dk/',
                        type: 'GET',
                        data: {
                            'one': pc,
                        },
                        success: function (data) {
                            $('#' + prefix + '-地块').empty();
                            $.each(data, function (key, value) {
                                $('#' + prefix + '-地块').append($('<option></option>').attr('value', key).text(value));
                            });
                        },
                        error: function (xhr, status, error) {
                            console.log("Ajax请求失败:", error);
                        }
                    });
                });  //获得地块

                $('#' + prefix + '-批次').autocomplete({
                    source: function (request, response) {
                        var baseId = $('#' + prefix + '-基地').val();  // 动态获取 base_id 值
                        // alert(baseId);
                        var url = "{% url 'autocomplete'  %}";

                        $.ajax({
                            url: url,
                            dataType: "json",
                            data: {
                                term: request.term,
                                baseId: $('#' + prefix + '-基地').val(),
                                // extraParam2: anotherJavaScriptVariable
                            },
                            success: function (data) {
                                //alert(data);
                                response(data);
                            },

                        });
                    },
                    minLength: 2
                });


            }

            // 初始绑定事件
            bindEvents('id_form-0');

            // 添加更多表单项的点击事件
            $('#add_more').click(function () {
                var newForm = $('.formset_item:first').clone(false); // 克隆第一个表单项以保留事件绑定
                var form_idx = $('#formset_container .formset_item').length;

                newForm.find(':input').each(function () {
                    var name = $(this).attr('name');
                    if (name) {
                        var newName = name.replace(/\d+/, form_idx); // 替换表单项名称中的数字
                        $(this).attr('name', newName);
                    }

                    var id = $(this).attr('id');
                    if (id) {
                        var newId = id.replace(/\d+/, form_idx); // 替换表单项ID中的数字
                        $(this).attr('id', newId);
                    }

                    $(this).val('').removeAttr('checked').removeAttr('selected');
                });

                $('#formset_container').append(newForm); // 将新表单项添加到页面

                // 为新表单项绑定事件
                bindEvents('id_form-' + form_idx);

                form_idx++; // 更新索引
                updateTotalForms();

            });

            $(document).on('click', '.remove-form', function () {
                $(this).closest('.formset_item').remove();
                updateTotalForms();
            });

            // 测试提交的点击事件
            $('#test').click(function () {
                var form = $('#dynamic_form');
                var formData = form.serializeArray();
                console.log(formData); // 在控制台打印表单数据

                $.ajax({
                    url: '', // 使用表单的action属性作为URL
                    type: 'post',
                    data: formData,
                    success: function (response) {
                        window.location.href = response.redirect;  // 使用指定的 URL 进行重定向
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });


            });

            // 更新表单项数量
            function updateTotalForms() {
                var totalForms = $('#formset_container .formset_item').length;
                $('#id_form-TOTAL_FORMS').val(totalForms);
            }
        });
    </script>
{% endblock %}