<!-- templates/upload_form.html -->

{% extends 'layout.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"> {{ title }} </h3>
        </div>
        <div class="panel-body">
            <!-- 下载模板按钮 -->
                        <!-- 下载模板按钮，链接和文本通过变量传入 -->
            <a href="{% static template_path %}" class="btn btn-info" download>{{ download_text }}</a>


         <hr>
            <!-- 上传表单 -->
            <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% if field.name == 'update_user' %}
                            <!-- 只读上传人字段 -->
                            <input type="text" name="{{ field.name }}" id="{{ field.id_for_label }}" value="{{ request.session.info.name }}" readonly class="form-control">
                        {% else %}
                            {{ field }}
                        {% endif %}
                        <span style="color: red;">{{ field.errors.0 }}</span>
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary">提 交</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}