{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px" class="clearfix">
            <a class="btn btn-success" href="/user/model/form/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                新建用户
            </a>

            <div style="float: right;width: 300px;">
                <form method="get">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="搜索用户姓名" value="{{ query }}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                用户列表
            </div>
            <table class="table table-bordered">
                <thead class="text-center">
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">姓名</th>
                    <th class="text-center">密码</th>
                    <th class="text-center">年龄</th>
                    <th class="text-center">工资</th>
                    <th class="text-center">身份证号</th>
                    <th class="text-center">手机号码</th>
                    <th class="text-center">银行卡号</th>
                    <th class="text-center">入职时间</th>
                    <th class="text-center">性别</th>
                    <th class="text-center">所属部门</th>
                    <th class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <td class="text-center">{{ obj.id }}</td>
                        <td class="text-center">{{ obj.name }}</td>
                        <td class="text-center">{{ obj.password }}</td>
                        <td class="text-center">{{ obj.age }}</td>
                        <td class="text-center">{{ obj.salary }}</td>
                        <td class="text-center">{{ obj.id_card }}</td>
                        <td class="text-center">{{ obj.phone }}</td>
                        <td class="text-center">{{ obj.bank_account }}</td>
                        <td class="text-center">{{ obj.create_time|date:"Y-m-d" }}</td>
                        <td class="text-center">{{ obj.get_gender_display }}</td>
                        <td class="text-center">{{ obj.depart.title|default:"暂无部门" }}</td>
                        <td class="text-center">
                            <a class="btn btn-primary btn-xs" href="/user/{{ obj.id }}/edit/">编辑</a>
                            <a class="btn btn-danger btn-xs" href="/user/{{ obj.id }}/delete/">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="clearfix">
            <ul class="pagination">
                {{ page_string }}
            </ul>
        </div>
    </div>
{% endblock %}