{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px" class="clearfix">
            <a class="btn btn-success" href="{% url 'vehicle_add' %}">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                新建车辆信息
            </a>

            <div style="float: right;width: 300px;">
                <form method="get">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="请输入车牌查询"
                               value="{{ search_data }}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                车辆信息列表
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="text-align: center;">ID</th>
                        <th style="text-align: center;">车牌</th>
                        <th style="text-align: center;">司机</th>
                        <th style="text-align: center;">身份证号</th>
                        <th style="text-align: center;">电话</th>
                        <th style="text-align: center;">型号</th>
                        <th style="text-align: center;">颜色</th>
                        <th style="text-align: center;">类型</th>
                        <th style="text-align: center;">市场分类</th>
                        <th style="text-align: center;">备注</th>
                        <th style="text-align: center;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in queryset %}
                        <tr>
                            <td style="text-align: center;">{{ obj.id }}</td>
                            <td style="text-align: center;">{{ obj.车牌 }}</td>
                            <td style="text-align: center;">{{ obj.司机 }}</td>
                            <td style="text-align: center;">{{ obj.身份证号码 }}</td>
                            <td style="text-align: center;">{{ obj.电话 }}</td>
                            <td style="text-align: center;">{{ obj.型号 }}</td>
                            <td style="text-align: center;">{{ obj.颜色 }}</td>
                            <td style="text-align: center;">{{ obj.类型 }}</td>
                            <td style="text-align: center;">{{ obj.市场分类 }}</td>
                            <td style="text-align: center;">{{ obj.备注 }}</td>
                            <td style="text-align: center;">
                                <a class="btn btn-primary btn-xs" href="{% url 'vehicle_edit' obj.id %}">编辑</a>
                                <a class="btn btn-danger btn-xs" href="{% url 'vehicle_delete' obj.id %}">删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="clearfix">
            <ul class="pagination">
                {{ page_string }}
            </ul>
        </div>
    </div>
{% endblock %}