{% extends 'layout.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> 新建工时</h3>
            </div>
            <div class="panel-body">
                <form method="post" novalidate>
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group">
                            <label>{{ field.label }}</label>
                            {{ field }}
                            <span style="color: red;">{{ field.errors.0 }}</span>
                        </div>
                    {% endfor %}
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <strong>Validation Error(s):</strong>
                            <ul>
                                {% for field, error_list in form.errors.items %}
                                    {% for error in error_list %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <button type="submit" class="btn btn-primary">提交</button>
                </form>
            </div>
        </div>
    </div>

<script type="text/javascript">
$(document).ready(function () {
 // 在前端的 JS 代码中，检查二级分类的动态加载
$('#id_一级分类').change(function () {
    var selectedValue = $(this).val();
    $.ajax({
        url: '/get_second_level_categories/',
        type: 'GET',
        data: {
            'id': selectedValue
        },
        success: function (data) {
            $('#id_二级分类').empty();
            $.each(data, function (index, item) {
                $('#id_二级分类').append($('<option></option>').attr('value', item.id).text(item.category_name));
            });
        },
        error: function (xhr, status, error) {
            console.log("Ajax请求失败:", error);
        }
    });
});

// 对应二级工种的动态加载
$('#id_一级工种').change(function () {
    var selectedValue = $(this).val();
    $.ajax({
        url: '/get_second_level_jobs/',
        type: 'GET',
        data: {
            'id': selectedValue
        },
        success: function (data) {
            $('#id_二级工种').empty();
            $.each(data, function (index, item) {
                $('#id_二级工种').append($('<option></option>').attr('value', item.id).text(item.job_name));
            });
        },
        error: function (xhr, status, error) {
            console.log("Ajax请求失败:", error);
        }
    });
});
});
</script>
{% endblock %}